{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<style>
  #ABT1 {
    margin-left: 50px;
    font-family: cursive;
    color: black;

  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
</style>




<div class="row mt-3">
  <div class="bg-success text-center p-3 bg-opacity-50">
    <strong class="fs-4 text-decoration-underline text-success">About Us</strong>
  </div>
</div>

<div class="row fs-5 p-2">
  <div class="col-md-4 fs-5 p-4">
    <div class="flip-card">
      <div class="flip-card-inner p-4">
        <div class="flip-card-front">
          <img src="{% static 'assets/images/about1.jpeg' %}" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h1>fresh </h1>
          <p>Best of us</p>
          <p>We love to</p>
          <p>make you happy!!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-5 fs-5 p-4">
    <p id="ABT1" class="fs-5">You can get your favorite Starbucks coffees and more at most grocery stores and online nationwide, with
      products ranging from iced coffee and K-cups to signature syrups and Starbucks Refreshers. Snag classic brews like
      the Pike Place Roast, House Blend and Blonde Roast Espresso, or add some flavor into your mug with Cinnamon Dolce
      Coffee K-cups, instant Strawberry Lemonade Refreshers and Cocoa and Honey Cold Brew.</p>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-8 mt-5 fs-5 p-4">
    <p id="ABT1" class="fs-5">Like the lush Indonesian island of its origin, this dark-roast coffee offers full body with a smooth
      mouthfeel, lingering flavors of dried herbs and fresh earth, and almost no acidity. Expert roasters love
      transforming the unpredictable beans from dark coral green to tiger-orange to a rich, oily mahogany to reveal its
      bold flavors that many can't live without. High-quality beans have been ethically sourced to foster a better
      future for farmers and a more stable climate for the planet. Single-origin coffee is packaged in single-serve
      coffee pods that are easy to prepare for quick, simple enjoyment. Sumatra Blend coffee is designed for
      single-serve coffeemakers.</p>
  </div>
  <div class="col-md-4">
    <div class="flip-card">
      <div class="flip-card-inner p-4">
        <div class="flip-card-front">
          <img src="{% static 'assets/images/2.webp' %}" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h1>fresh </h1>
          <p>Best of us</p>
          <p>We love to</p>
          <p>make you happy!!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-4">
    <div class="flip-card">
      <div class="flip-card-inner p-4">
        <div class="flip-card-front">
          <img src="{% static 'assets/images/bottle.jpeg' %}" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h1>fresh </h1>
          <p>Best of us</p>
          <p>We love to</p>
          <p>make you happy!!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-5 fs-5 p-4">
    <p id="ABT1" class="fs-5">You can now drink your coffee anytime and anywhere with Starbucks Bottled Frappuccino. There is no more
      pressure of drinking your coffee all at once since it is now resealable. Keep it inside your fridge for cooling or
      bring it with you inside your bag to drink whenever you are thirsty for some coffee.</p>
  </div>
</div><br><br>

<div class="row mt-5">
  <div class="col-md-8 mt-5 fs-5 p-4">
    <p id="ABT1" class="fs-5">If you are someone who enjoys drinking coffee often, chances are that you have tried Starbucks coffee
      at least once in your life. Starbucks is one of the leading brands for all coffee-based beverages, but they have
      so many blends that it can be hard to decide which one to get. In today’s review, I am going to go over the best
      Starbucks coffee beans to show you which blends you must try!</p>
  </div>
  <div class="col-md-4">
    <div class="flip-card">
      <div class="flip-card-inner p-4">
        <div class="flip-card-front">
          <img src="{% static 'assets/images/bean.webp' %}" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h1>fresh </h1>
          <p>Best of us</p>
          <p>We love to</p>
          <p>make you happy!!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br><br>

<!-- about.html -->
<h2>Review's</h2>
<p>Welcome to our coffee shop! Here's what our customers are saying:</p>

{% for review in reviews %}
<div>
  <h4>{{ review.customer_name }} -</h4>
  <h6><i>{{ review.created_at }}</i></h6>
  <p>Rating: {{ review.rating }}⭐</p>
  <p>{{ review.review_text }}</p>
</div>
{% endfor %}

{% endblock 'main' %}